@tailwind base;
@tailwind components;
@tailwind utilities;

.gg {
    z-index: 3;
    background-image: linear-gradient(90deg, #f0f6fe 60%, rgba(240, 246, 254, 0));
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 75%;
    min-height: 55svh;
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-right: 10%;
    display: flex;
    position: relative;
  }
  

  .aa{
    mask-image: linear-gradient(to right, transparent, white 50%);
    -webkit-mask-image: linear-gradient(to right, transparent, white 30%);
}

/* mx-3 md:mx-10 */
.box {
  @apply mb-10 md:mb-16 lg:mb-24 mx-3 md:mx-10
}

.pulse {
  @apply transition-all duration-300
}
 
